
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: #2f2f2f;
    color: #ffffff;
}
html{
    scroll-behavior: smooth ;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(img/marcus-ganahl2.png);
    background-position: center;
    background-size: cover;
}
.contenier{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
    height: auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fffdd3;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fffdd3;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text p{
    color: #ffefd8;
    font-weight: bold;
    margin-top: -40%;
}
.header-text{
    font-size: 30px;
    margin-top: 20%;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: bisque;
}

/* About Section */
#about{
    padding: 80px;
    color: #ffefd8;
    background: url(img/background1.png);
    background-position: center;
    background-size: cover;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    margin-left: -30%;
    margin-bottom: -15%;
    width: 170%;
}
.about-col-2{
    flex-basis: 55%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ffefd8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ffefd8;
    font-size: 29px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* End About Section */

/* Start Service Section */
#services{
    padding: 30px 0;
    background-color: #ffefd8;
}
#services .contenier{
    text-align: center;
}
#services .contenier p{
    margin-top: 15px;
}
.sub-title2{
    color: #080808;
    font-size: 50px;
}
.contenier p{
    color: #080808;
    font-size: 25px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: bisque;
    padding: 40px; 
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}
.services-list div img{
    margin-bottom: 30px;
}
.services-list div h2{
    color: #080808;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #080808;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #080808;
    padding: 10px;
    border-radius: 5px;
    transition: 1s
}
.services-list div a:hover{
    background: #fffee9;
    transform: translateY(-10px);
}
/* End Service Section */

/* Start Portfolio Section */
#portfolio{
    background-color: #ffc579;
    padding: 50px 0;
}
#portfolio .contenier{
    text-align: center;
    color: #ffefd8;
}
#portfolio .contenier p{
    color: #ffefd8;
    margin-bottom: 15px;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.worklist img{
    height: 230px;
    width: auto;    
}
.work1{
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.work2{
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.work3{
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
/* End Portfolio Section */

/* Start Contact Section */
#contact{
    background-color: #fffee9;
    padding: 50px;
}
#contact-left{
    flex-basis: 35%;
}
#contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ffc579;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ffca84;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: hsl(34, 100%, 76%);
    transform: translateY(-5px);
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ffc579;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffc579;
    transition: background 0.5s;
}
.btn:hover{
    background:#ffc579;
}
.contact-right form {
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #1a1a1a;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn{  
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;   
    cursor: pointer;
}
/* End Contact Section */

nav .fa-solid{
    display: none;
}
@media Only Screen and (max-width:600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: hsl(34, 100%, 76%);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}
